{% extends 'base.html' %}

{% block title %}
    {% if delivery %}Edit Delivery{% else %}Add Delivery{% endif %}
{% endblock %}

{% block content %}

<h1 class="mb-4">
    {% if delivery %}
        Edit Delivery
    {% else %}
        Add Delivery
    {% endif %}
</h1>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-dark">
        {% if delivery %}
            Update Delivery
        {% else %}
            Save Delivery
        {% endif %}
    </button>

    <a href="{% url 'delivery_list' %}" class="btn btn-secondary">
        Cancel
    </a>

</form>

{% endblock %}