{% extends 'base.html' %}

{% block title %}Agro Products Traceability{% endblock %}

{% block content %}

<div class="container">

    <h1>Agro Products Traceability System</h1>

    <p>
        Verify the origin and journey of agricultural products.
    </p>

    <a href="{% url 'verify_batch' %}" class="btn btn-dark">
        Verify a Product
    </a>

    <hr>

    <p>
        Are you a cooperative administrator?
        <a href="{% url 'login' %}">
            Admin Login
        </a>
    </p>

</div>

{% endblock %}